
.footer{
    position: absolute;
    top: 3740px;    
    width: 100%;
  
    display: grid;
    grid-template-columns: repeat(2, 50%);
  
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
  
    background: #007893;
    color: #F5F5F5;
  }
  .footer-text{
    padding-top: 15px;
  }